<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Book Finder</title>
		<link rel="stylesheet" href="/app.css">
	</head>
<body>
	<main>
		<section id="searchForm">
			<h1>Books</h1><h6>Powered by Google</h6><img src="https://books.google.com/googlebooks/images/poweredby.png">
			<form action="/search" method="GET">
				<input id="search" name="search" type="text" placeholder="search for a book" required>
				<input id="searchSubmit" value="Search" type="submit">
			</form>
		</section>
	</main>